@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
  background-image: url('./asset/background-img.png');
  display: flex;
  align-items: center;
  justify-content: center;
}